
@import url('spectre.css');

:root {
  --vt-c-divider: rgba(60, 60, 60, 0.18);
}

:root {
  --color-border: var(--vt-c-divider);
  --footer-height: 1.5rem;
}

body {
  color: var(--color-text);
  background: var(--color-background);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
